#toogle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #03a9f4;
    
}

#toogle::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 7.5px;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transform: translateY(-5px);
    transition: 0.2s;


}

#toogle::after
 {
    content: '';
    position: absolute;
    top: 20px;
    right: 7.5px;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transform: translateY(5px);
    transition: 0.2s;
    

}
#toogle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toogle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#sidebar {
    position: fixed;
    top:0;
    left: -400px;
    width: 300px;
    height: 100vh;
    background: #003147;
    transition: 0.5s;
}


#sidebar.active {
    left: 0;
    transition: 0.5s;
}

#sidebar ul {
    position: relative;
    margin-top: 50px;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;

}

#sidebar ul li:hover {
    background: #03a9f4;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 2px;
}

.nav-lg {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 1000px) {
    .nav-lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-lg {
        display: none;
        
    }
}

@media screen and (max-width: 767px) {
        .nav-md {
            display: flex;
            justify-content: center ;
            align-items: center;
            height: 4rem;
        }
}